Assets/3d/source/catslair.blend
Assets/3d/output/Tygra@Walking Backwards.fbx
Assets/3d/output/Tygra@Jumping.fbx
Assets/3d/output/Tygra@Jumping Over Into Combat.fbx
Assets/3d/output/Tygra@Right Turn.fbx
Assets/3d/output/Tygra@Left Turn.fbx
Assets/3d/source/catslair.blend1
build/
Unity/Tygra/Library/il2cpp_cache/
Unity/Tygra/Library/ShaderCache/
Unity/Tygra/Library/webgl_cache/
